@page "/Donations/ItemTypes"
@using Donate.Data.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using System.Security.Claims
@using System.Linq.Dynamic.Core

@attribute [Authorize(Roles = "Admin")]

<div class="header mb-3">
    <h1 class="header-title">Donation Item Types list</h1>
    <div class="header-btns">
        <button class="btn btn-link me-1" @onclick="OnStateChanged">
            @if (showDisactive)
            {
                <span class="text-success"><i class="fa-solid fa-eye fa-xl"></i></span>
            }
            else
            {
                <span class="text-muted"><i class="fa-solid fa-eye-slash fa-xl"></i></span>
            }
        </button>
        <button class="btn btn-primary me-1" @onclick="Refresh"><i class="fa-solid fa-rotate"></i></button>
        <button class="btn btn-success" @onclick="NewItemType"><i class="fa-solid fa-plus"></i></button>
    </div>
</div>

<RadzenDataGrid @ref="DG" AllowFiltering="true" AllowAlternatingRows="true" FilterMode="FilterMode.Simple" AllowSorting="true" PageSize="20" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Center" ShowPagingSummary="true"
                Data="@itemTypes" @bind-Value=@selectedItemTypes LoadData="LoadData" IsLoading="isLoading" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Count="@count" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(DonationItemType.Name)" Title="Name" Width="auto" TextAlign="TextAlign.Start" />
        <RadzenDataGridColumn Property="@nameof(DonationItemType.Description)" Title="Description" Width="auto" TextAlign="TextAlign.Start" />
        <RadzenDataGridColumn Filterable="false" Sortable="false" Width="90px" TextAlign="TextAlign.Center">
            <Template Context="itemType">
                <div Class="text-nowrap text-center">
                    @if (itemType.Active == true)
                    {
                        <button class="btn btn-link text-primary btn-sm small px-1 py-0 me-2" @onclick="@(async() => await EditItemType(itemType))" title="Update"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button class="btn btn-link text-muted btn-sm px-1 py-0 small" @onclick="@(async() => await DisActive(itemType))" title="Disactive"><i class="fa-regular fa-square"></i></button>
                    }
                    else
                    {
                        <button class="btn btn-link text-success btn-sm px-1 py-0 small" @onclick="@(async() => await Active(itemType))" title="Active"><i class="fa-regular fa-square-check"></i></button>
                    }
                </div>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;
    List<DonationItemType> itemTypes = [];
    IList<DonationItemType> selectedItemTypes = [];
    private ClaimsPrincipal CurItemType = default!;
    private RadzenDataGrid<DonationItemType> DG = default!;
    bool isLoading;
    int count;
    bool showDisactive;

    override protected async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var auth = await Auth.GetAuthenticationStateAsync();
        CurItemType = auth.User;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
            await DG.Reload();
    }

    async Task LoadData(LoadDataArgs args)
    {
        isLoading = true;

        await Task.Yield();

        using var db = await ContextFactory.CreateDbContextAsync();
        var query = db.DonationItemTypes.Where(x => showDisactive || x.Active == true).AsQueryable();

        if (!string.IsNullOrEmpty(args.Filter))
            query = query.Where(args.Filter);

        if (!string.IsNullOrEmpty(args.OrderBy))
            query = query.OrderBy(args.OrderBy);

        count = query.Count();

        itemTypes = query.Skip(args.Skip!.Value).Take(args.Top!.Value).ToList();

        isLoading = false;
    }

    async Task Refresh() => await DG.Reload();

    async Task NewItemType()
    {
        var modal = Modal.Show<ItemTypeModal>("New itemType", new ModalOptions { DisableBackgroundCancel = false, });
        var result = await modal.Result;
        if (!result.Cancelled)
        {
            ToastSrv.ShowSuccess($"A new itemType has added.");
            await Refresh();
        }
    }

    async Task EditItemType(DonationItemType itemType)
    {
        var parameters = new ModalParameters() { { nameof(ItemTypeModal.ItemType), new RegisterModel { Id = itemType.Id, } } };
        var modal = Modal.Show<ItemTypeModal>("Update itemType", parameters, new ModalOptions { DisableBackgroundCancel = false, });
        var result = await modal.Result;
        if (!result.Cancelled)
        {
            if (result.Data?.ToString() == "NotFound")
                ToastSrv.ShowInfo("This itemType is not found.");

            ToastSrv.ShowSuccess($"This itemType has updated.");
            await Refresh();
        }
    }

    async Task DisActive(DonationItemType itemType) => await ItemTypeActive(itemType, false);
    async Task Active(DonationItemType itemType) => await ItemTypeActive(itemType, true);

    async Task ItemTypeActive(DonationItemType itemType, bool state)
    {
        using var db = await ContextFactory.CreateDbContextAsync();
        var itemTypeInDb = await db.DonationItemTypes.FirstOrDefaultAsync(x => x.Id == itemType.Id);
        if (itemTypeInDb == null)
            ToastSrv.ShowInfo("This itemType is not found.");
        else
        {
            if (await db.DonationItemTypes.AnyAsync(x => x.Active == true && x.Name == itemType.Name && x.Id != itemType.Id))
                ToastSrv.ShowError("Email already exists.");
            else
            {
                itemTypeInDb.Active = state;
                db.DonationItemTypes.Update(itemTypeInDb);
                await db.SaveChangesAsync();
                ToastSrv.ShowSuccess($"This itemType has {(state ? "activated" : "disactivated")}.");
            }
        }

        await Refresh();
    }

    async Task OnStateChanged()
    {
        showDisactive = !showDisactive;
        await DG.Reload();
    }
}
