<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["libs/bootstrap/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["libs/font-awesome/css/all.min.css"]" />
    <link rel="stylesheet" href="@Assets["libs/sweetalert2/sweetalert2.min.css"]" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <RadzenTheme Theme="material" @rendermode="RenderMode.InteractiveServer" />
    <link rel="stylesheet" href="@Assets["Donate.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet @rendermode="PageRenderMode" />
</head>

<body>
    <Routes @rendermode="PageRenderMode" />
    <script src="_framework/blazor.web.js"></script>
    <script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="libs/font-awesome/js/all.min.js"></script>
    <script src="libs/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <script src="js/app.js"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;
}
